* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(180 , 180, 180) !important;
}

.main {
    margin-top: 200px;
    align-items: center;
    width: 550px;
}

.card {
    padding-top: 10px;
    border-radius: 20px !important;
}

.word {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 15px;
}